/* fonts */

@font-face {
	font-family: "Inter";
	src: local("Inter Regular"), local("Inter-Regular"),
    url("../assets/fonts/Inter-Regular.woff2") format("woff2"),
    url("../assets/fonts/Inter-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: local("Inter Bold"), local("Inter-Bold"),
    url("../assets/fonts/Inter-Bold.woff2") format("woff2"),
    url("../assets/fonts/Inter-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: "Forum";
	src: local("Forum Regular"), local("Forum-Regular"),
    url("../assets/fonts/Forum-Regular.woff2") format("woff2"),
    url("../assets/fonts/Forum-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
  font-display: swap;
}

/* general */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a,
.btn {
  transition: all 0.3s ease;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: "Inter", Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
}

.list-reset {
  margin:0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

/* variables */

:root {
  /* fonts */
  --ff-forum: "Forum", Verdana, sans-serif;
  --ff-inter: "Inter", Verdana, sans-serif;

  --fsz-10: 10px;
  --fsz-15: 15px;
  --fsz-20: 20px;
  --fsz-30: 30px;
  --fsz-40: 40px;

  --fw-regular: 400;
  --fw-bold: 700;

  --lh-20: 20px;
  --lh-40: 40px;
  --lh-50: 50px;

  --ls-300: 3px;
  --ls-200: 2px;
  --ls-60: 0.6px;

  /* colors */
  --white: #FFFFFF;
  --gold: #BB945F;
  --dark-gold: #957548;
  --grey: #8E8E8E;
  --light-black: #0C0C0E;
  --black: #000000;
}

/* header */

/* .header {
  background-color: var(--light-black);
} */

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-right: 15px;
  background-color: var(--light-black);
}

.main-title {
  font-family: var(--ff-forum);
  font-size: var(--fsz-30);
  line-height: var(--lh-50);
  font-weight: var(--fw-regular);
  letter-spacing: var(--ls-60);
  color: var(--white);
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.close {
  display: none;
}

.close__btn {
  width: 15px;
  height: 15px;
  background-image: url("../assets/svg/close_btn.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  padding: 0 15px;
}

.nav__link {
  line-height: var(--lh-50);
  color: var(--white);
  transition: all 0.3s ease;
}

.nav__link:focus-visible {
  outline: 0;
  outline-offset: 3px;
  outline: 2px solid var(--gold);
}

.nav__link:hover:not(:focus-visible) {
  color: var(--gold);
  text-decoration: underline;
  text-underline-offset: 15px;
  text-decoration-color: var(--gold);
}

.nav__link:active:not(:focus-visible) {
  color: var(--dark-gold);
  text-decoration-color: var(--dark-gold);
}

.profile {
  width: 38px;
  height: 38px;
  padding: 5px;
}

.profile__icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-image: url("../assets/svg/profile.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}

.profile:focus-visible {
  outline: 0;
  outline-offset: 3px;
  outline: 1px solid var(--gold);
}

.profile:hover .profile__icon {
  background-image: url("../assets/svg/profile-hover.svg");
}

.profile:active .profile__icon {
  background-image: url("../assets/svg/profile-active.svg");
}

.burger {
  display: none;
}

/* welcome */

/* .welcome {
  background-image: url("../assets/img/welcome.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} */

.welcome__container {
  padding: 220px 160px 160px 0;

  background-image: url("../assets/img/welcome.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.welcome__title {
  max-width: 600px;
  padding: 35px 40px;

  font-family: var(--ff-forum);
  font-size: var(--fsz-40);
  line-height: var(--lh-50);
  font-weight: var(--fw-regular);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: var(--ls-300);
  color: var(--white);

  background-color: var(--light-black);
}

/* about */

.section {
  padding: 20px 0 40px 0;
}

.about {
  padding: 20px 0;
}

.title {
  position: relative;
  margin-bottom: 60px;
  font-family: var(--ff-forum);
  font-size: var(--fsz-40);
  font-weight: var(--fw-regular);
  letter-spacing: var(--ls-200);
  text-transform: capitalize;
  text-align: center;
}

.title::after {
  content: '';
  position: absolute;
  top: 60px;
  right: 0;
  left: 0;
  width: 50px;
  height: 1px;
  margin: auto;
  background-color: var(--light-black);
}

.about__text {
  margin-bottom: 20px;
  text-align: center;
}

.carousel {
  text-align: center;
  width: 100%;
}

.carousel__list {
  display: flex;
  gap: 25px;
  margin-bottom: 35px;
}

.carousel__slide {
  width: 100%;
  min-height: 560px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.carousel__slide--one {
  background-image: url("../assets/img/about/about1.jpg");
}

.carousel__slide--two {
  background-image: url("../assets/img/about/about2.jpg");
}

.carousel__slide--three {
  background-image: url("../assets/img/about/about3.jpg");
}

.carousel__slide--four {
  background-image: url("../assets/img/about/about4.jpg");
  display: none;
}

.carousel__slide--five {
  background-image: url("../assets/img/about/about5.jpg");
  display: none;
}

.carousel__pagination {
  display: inline-block;
  width: 26px;
  height: 26px;
  cursor: pointer;
  padding: 5px;
  position: relative;
  background-color: transparent;
}

.carousel__pagination::after {
  content: '';
  position: absolute;
  right: 5px;
  width: 16px;
  height: 16px;
  background-color: var(--light-black);
  border-radius: 50%;
}

.carousel__pagination--active::after {
  background-color: var(--gold);
}

/* favorites */

.favorites__title {
  margin-bottom: 55px;
}

.favorites__text {
  font-weight: var(--fw-bold);
  margin-bottom: 20px;
}

.favorites__radio-btn {
  margin-bottom: 25px;
  transform: translateX(-5px);
}

.radio-btn {
  display: flex;
}

.radio-btn__item {
  padding: 5px;
}

.radio-btn__item:not(:last-child) {
  margin-right: 80px;
}

.radio-btn__label {
  cursor: pointer;
}

.radio-btn__label--active {
  font-weight: var(--fw-bold);
}

.radio-btn__input {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
}

.radio-btn__custom {
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 2px solid var(--black);
  border-radius: 50%;
  background-color: var(--white);
  vertical-align: baseline;
  position: relative;
  margin-right: 15px;
}

.radio-btn__custom::before {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: var(--black);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease;
}

.radio-btn__input:checked + .radio-btn__custom::before {
  transform: translate(-50%, -50%) scale(1);
}

/* articles */

.favorites__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, auto));
  grid-row-gap: 40px;
  grid-column-gap: 260px;
  padding-right: 40px;
}

.favorites__item {
  position: relative;
}

.showcase {
  border: 1px solid var(--black);
  padding: 15px 20px;
  letter-spacing: var(--ls-200);
  font-size: var(--fsz-15);
}

.showcase__article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 525px;
}

.showcase__img {
  position: absolute;
  right: -40px;
  bottom: 0;
}

.showcase__title {
  font-family: var(--ff-forum);
  text-transform: capitalize;
  font-weight: var(--fw-regular);
  position: relative;
  font-size: var(--fsz-20);
  margin-bottom: 20px;
}

.showcase__title::after {
  content: '';
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;
  width: 60px;
  height: 1px;
  background-color: var(--gold);
}

.showcase__book {
  text-transform: uppercase;
}

.showcase__author {
  text-transform: capitalize;
  margin-bottom: 20px;
}

.showcase__text {
  text-transform: capitalize;
  padding-right: 150px;
}

.btn {
  min-width: 75px;
  padding: 9px 20px;
  color: var(--light-black);
  border-radius: 2px;
  border: 1px solid var(--light-black);
  font-size: var(--fsz-10);
  font-weight: var(--fw-bold);
  letter-spacing: 1px;
  /* transition: all 0.5s ease; */
}

.btn:hover,
.btn:focus-visible {
  background-color: var(--gold);
  border: 1px solid var(--gold);
}

.btn:active:not(:focus-visible) {
  background-color: var(--dark-gold);
  border: 1px solid var(--dark-gold);
}

.btn--own {
  color: var(--gold);
  border: 1px solid var(--gold);
  cursor: auto;
}

.btn--own:hover {
  background-color: var(--white);
}

.spring,
.summer,
.autumn {
  display: none;
}

/* section shop */

.shop {
  letter-spacing: var(--ls-200);
}

.shop__text {
  text-align: center;
  letter-spacing: var(--ls-200);
  margin-bottom: 40px;
}

.shop__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* .menu__left {
  padding-right: 200px;
} */

/* .menu__right {
  padding-left: 200px;
} */

.menu__title {
  font-family: var(--ff-forum);
  font-weight: var(--fw-regular);
  font-size: var(--fsz-40);
  text-transform: capitalize;
  color: var(--gold);
  margin-bottom: 40px;
}

.menu__title--right {
  text-align: end;
}

.menu__item {
  display: flex;
  justify-content: space-between;
}

.menu__item:not(:last-child) {
  margin-bottom: 40px;
}

.menu__text {
  text-transform: capitalize;
}

.menu__text--left {
  margin-right: auto;
}

.menu__text--right {
  margin-left: auto;
}

.menu__price {
  font-family: var(--ff-forum);
}

.menu__line {
  display: inline-flex;
  width: 220px;
  height: auto;
  position: relative;
}

.menu__line::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 1px;
  background-color: var(--gold);
}

/* section contacts */

.contacts__wrap {
  display: flex;
  justify-content: space-between;
  letter-spacing: var(--ls-200);
}

.address {
  font-style: normal;
}

.address__title {
  text-transform: capitalize;
  margin-bottom: 40px;
  font-size: var(--fsz-20);
  font-weight: var(--fw-bold);
}

.address__list {
  margin-bottom: 40px;
}

.address__item {
  display: flex;
  margin-bottom: 20px;
}

.address__text {
  margin-right: 5px;
  text-transform: capitalize;
}

.interactive:focus-visible {
  outline: 0;
  outline-offset: 3px;
  outline: 2px solid var(--gold);
}

.interactive:hover:not(:focus-visible) {
  color: var(--gold);
}

.interactive:active:not(:focus-visible) {
  color: var(--dark-gold);
}

.address__title--staff {
  margin-bottom: 20px;
}

.address__staff {
  display: flex;
}

.address__mail {
  font-weight: var(--fw-bold);
}

.map {
  width: 50%;
  height: 414px;
  background-image: url("../assets/img/map.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


/* section library card  */

.library-card__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form__heading {
  font-size: var(--fsz-30);
  font-weight: var(--fw-regular);
  letter-spacing: var(--ls-60);
  margin-bottom: 25px;
}

.form {
  max-width: 600px;
  text-align: center;
}

.form__wrapper {
  border: 3px solid var(--gold);
  padding: 20px 20px 25px 20px;
}

.form__wrap {
  background-color: var(--gold);
  padding: 20px 20px 0 20px;
  margin-bottom: 20px;
}

.form__title {
  font-family: var(--ff-forum);
  font-size: var(--fsz-30);
  font-weight: var(--fw-regular);
  line-height: var(--lh-50);
  letter-spacing: var(--ls-60);
  margin-bottom: 20px;
  text-align: left;
}

.form__input {
  width: 100%;
  min-width: 520px;
  height: 66px;
  margin-bottom: 25px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--white);
}

.form__input::placeholder {
  color: var(--grey);
  font-family: var(--ff-forum);
  font-size: var(--fsz-30);
  line-height: var(--lh-50);
  letter-spacing: var(--ls-60);
}

.form__btn {
  padding: 10px 40px;
  font-size: var(--fsz-20);
}

.info {
  text-align: end;
  max-width: 456px;
}

.info__title {
  font-family: var(--ff-forum);
  font-size: var(--fsz-30);
  font-weight: var(--fw-regular);
  letter-spacing: var(--ls-60);
  margin-bottom: 30px;
}

.info__text {
  margin-bottom: 25px;
  letter-spacing: 0.4px;
}

.info__buttons {
  display: flex;
  justify-content: end;
}

.info__item:first-child {
  margin-right: 20px;
}

.btn--info {
  padding: 10px 0;
}

/* footer */
.footer__container {
  background-color: var(--light-black);
  color: var(--white);
}

.footer__top {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
  line-height: var(--lh-20);
}

.footer__left {
  max-width: 230px;
}

.footer__address {
  margin-bottom: 10px;
}

.footer__link {
  font-style: normal;
}

.footer__link:hover {
  color: var(--gold);
}

.social {
  display: flex;
}

.social__item {
  width: 39px;
  height: 39px;
  padding: 7.5px;
  transform: translateX(-7.5px);
}

.social__icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}

.social__icon--twitter {
  background-image: url("../assets/svg/twitter.svg");
}

.social__icon--instagram {
  background-image: url("../assets/svg/instagram.svg");
}

.social__icon--facebook {
  background-image: url("../assets/svg/facebook.svg");
}

.social__item:focus-visible {
  outline: 0;
  outline-offset: 3px;
  outline: 1px solid var(--gold);
}

.social__item:hover .social__icon--twitter {
  background-image: url("../assets/svg/twitter-hover.svg");
}

.social__item:hover .social__icon--instagram {
  background-image: url("../assets/svg/instagram-hover.svg");
}

.social__item:hover .social__icon--facebook {
  background-image: url("../assets/svg/facebook-hover.svg");
}

.social__item:active .social__icon--twitter {
  background-image: url("../assets/svg/twitter-active.svg");
}

.social__item:active .social__icon--instagram {
  background-image: url("../assets/svg/instagram-active.svg");
}

.social__item:active .social__icon--facebook {
  background-image: url("../assets/svg/facebook-active.svg");
}

.footer__text {
  text-align: right;
}

.footer__time-table--weekdays {
  margin-bottom: 10px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 35px;
  letter-spacing: var(--ls-200);
}

.footer__year {
  margin-right: 100px;
}
