.bank-card {
  width: 200px;
}

.bank-card__text {
  @include font($size: 15px, $height: 20px, $spacing: 0.3px);
  color: $color-dark;
}

.bank-card__input-wrap {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bank-card__input {
  width: 200px;
  height: 20px;
  border: 1px solid $color-primary;

  &--small {
    width: 45px;
  }

  &--cvc {
    margin-bottom: 20px;
  }

  &--city {
    margin-bottom: 20px;
  }
}


.bank-card__wrap {
  display: flex;
  align-items: end;
  gap: 25px;
}

.bank-card__price {
  @include font($size: 20px, $height: 20px, $weight: 700, $spacing: 2px);
  text-transform: uppercase;
  color: $color-background;
}
