.carousel {
  width: 100%;
  text-align: center;
}

.carousel__wrap {
  @include media-tablet {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 58px;
    flex-basis: 724px;
  }
}

.carousel__list {
  @include flex (25px);
  margin-bottom: 35px;

  @include media-tablet {
    justify-content: center;
    margin-bottom: 20px;
    flex-basis: 450px;
  }
}

.carousel__slide {
  width: 100%;
  min-height: 560px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include media-tablet {
    flex-basis: 450px;
  }

  // @include media-mobile {
  //   min-height: 480px;
  // }

  // @include media-mobile-small {
  //   min-height: 360px;
  // }

  &--one {
    background-image: url("../assets/img/about/about1.jpg");
  }

  &--two {
    background-image: url("../assets/img/about/about2.jpg");

    @include media-tablet {
      display: none;
    }
  }

  &--three {
    background-image: url("../assets/img/about/about3.jpg");

    @include media-tablet {
      display: none;
    }
  }

  &--four {
    display: none;
    background-image: url("../assets/img/about/about4.jpg");
  }

  &--five {
    display: none;
    background-image: url("../assets/img/about/about5.jpg");
  }
}

.carousel__control {
  font-size: 0;
  line-height: 30px;
}

.carousel__pagination {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 26px;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;

  &--tablet {
    display: none;

    @include media-tablet {
      display: inline-block;
    }
  }
}

.carousel__pagination::after {
  content: "";
  position: absolute;
  right: 5px;
  width: 16px;
  height: 16px;
  background-color: $color-background;
  border-radius: 50%;
}

.carousel__pagination--active::after {
  background-color: $color-primary;
}

.carousel__button {
  display: none;
  width: 27px;
  height: 50px;
  padding: 5px;
  background-position: bottom;
  // background-size: cover;
  background-repeat: no-repeat;

  @include media-tablet {
    display: inline-block;
  }
}

.carousel__button--prev {
  background-image: url("../assets/svg/button-prev.svg");
}

.carousel__button--next {
  background-image: url("../assets/svg/button-next.svg");
}
