.profile {
  width: 600px;
  height: 400px;
  display: flex;
  position: relative;
  line-height: 20px;
  display: none;
}

.profile__close {
  position: absolute;
  right: 25px;
  top: 25px;
}

.profile__avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 170px;
  background-color: $color-background;
}

.profile__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
  background-color: $color-light;
  color: $color-primary;
  text-transform: capitalize;
}

.profile__name {
  background-color: $color-light;
  width: 120px;
  padding: 5px 15px;
  text-align: center;
}

.profile__info {
  flex: 1;
  padding: 40px 20px;
  background-color: $color-light;
}

.profile__title {
  @extend %font-add;
  @include font ($size: 40px, $height: 20px,  $spacing: 0.8px);
  text-transform: uppercase;
  margin-bottom: 40px;
}

.profile__subtitle {
  @include font ($size: 25px, $height: 20px);
  color: $color-background;
  margin-bottom: 30px;
}

.profile__list {
  list-style: initial;
  padding: 0 30px;
  letter-spacing: 2px;
  margin-bottom: 40px;
}
.profile__item:not(:last-child) {
  margin-bottom: 10px;
}

.profile__wrap {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile__card-number {
  color: $color-primary;
}
