.register {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  padding: 20px 25px;
  background-color: $color-light;
  display: none;
}

.register__close {
  position: absolute;
  right: 15px;
  top: 15px;
}

.register__title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  @extend %font-add;
  @include font ($size: 20px, $height: 20px,  $spacing: 0.4px);
}

.register__text {
  @include font($size: 15px, $height: 20px, $spacing: 0.3px);

  &--small {
    @include font($size: 10px, $height: normal);
  }
}

.register__input {
  width: 200px;
  height: 20px;
  border: 1px solid $color-primary;
}

.register__btn-wrap {
  margin-bottom: 10px;
}

.register__wrap {
  display: flex;
}
