.social {
  display: flex;
}

.social__item {
  width: 39px;
  height: 39px;
  padding: 7.5px;
  transform: translateX(-7.5px);

  &:focus-visible {
    @extend %outline;
  }
}

.social__icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @extend %transition;

  &:hover {
    filter: invert(53%) sepia(69%) saturate(261%) hue-rotate(355deg) brightness(100%) contrast(89%);
  }
}

.social__icon--twitter {
  background-image: url("../assets/svg/twitter.svg");
}

.social__icon--instagram {
  background-image: url("../assets/svg/instagram.svg");
}

.social__icon--facebook {
  background-image: url("../assets/svg/facebook.svg");
}
