$color-light: #ffffff;
$color-primary: #bb945f;
$color-active: #957548;
$color-placeholder: #8e8e8e;
$color-background: #0c0c0e;
$color-dark: #000000;

$content-width: 1440px;
$laptop-width: 1366px;
$tablet-width: 1024px;
